@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRounded-Book.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRounded-Bold.woff');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham';
}

section {
  border: 1px #d47a9c solid;
}

h1 {
  background: #eb94b5;
  padding: 2rem;
  color: #FFF;
}

h2 {
  padding: 1rem;
  border-bottom: 1px #d47a9c solid;
  border-top: 1px #d47a9c solid;
  background-color: #fff0f5;
}

ul {
  list-style-type: none;
}

li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.layout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.box-layout {
  width: 20rem;
  max-width: 100%;
}

.scroll-full {
  height: 42rem;
  overflow-y: scroll;
}

.scroll-half {
  height: 17rem;
  overflow-y: scroll;
}

.scroll-chat {
  height: 31rem;
  overflow-y: scroll;
}

.chatbox {
  width: 25rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: #ffebf3;
  padding: 1rem;
}

#txtMessage {
  padding: 4rem;
}

.btn__send-message {
  padding: 0.5rem;
  background-color: #eb94b5;
  border: none;
  border-radius: 0.2rem;
  font-family: inherit;
}

.selected {
  color: #d47a9c;
  background-color: #ffebf3;
}

.user {
  border-bottom: 0.1rem #ffebf3 solid;
}

.user a {
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 1rem;
  margin-right: 1rem;
}

.inbox-amount,
.outbox-amount {
  background-color: #d47a9c;
  color: #FFF;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.chatbox-message {
  max-width: 15rem;
  margin: 1rem 0 1rem 8rem;
  background-color: #ffebf3;
  border-radius: 1rem;
  padding: 1rem;
}

.date {
  font-weight: 200;
  font-size: 0.7rem;
  text-align: right;
  margin: 0.5rem;
}